# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [20]:
import pandas as pd
import numpy as np

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [21]:
df= pd.read_csv("application_data.csv")
df.head

<bound method NDFrame.head of     customerID        loanId appilcationDate  LoanNumber  LoanAmount  \
0    839247458  302953235622      2018-12-21           1      7500.0
1    217540860  302960101337      2018-12-23           1      7500.0
2    522238092  303016988846      2019-01-08           1      7500.0
3    096754469  302999605504      2019-01-04           1      7500.0
4    410354345  302951945878      2018-12-21           1      7500.0
..         ...           ...             ...         ...         ...
995  964510149     302636726      2018-01-15           2      7500.0
996  251997198     302772445      2018-02-13           1      7500.0
997  899011279     302585439      2018-01-03           3      7500.0
998  648637210  302788322114      2018-11-19           1      7500.0
999  464788691     302683579      2018-01-24           1      7500.0

     InterestRate  TermDays repaymentDueDate repaymentPaidDate
0            30.0        30       2019-01-20        2019-01-16
1            30.0        30       2019-01-22        2018-12-29
2            30.0        30       2019-02-07        2019-01-08
3            30.0        30       2019-02-03        2019-01-08
4            30.0        30       2019-01-20        2019-01-17
..            ...       ...              ...               ...
995          30.0        30       2018-02-14        2018-01-20
996          30.0        30       2018-03-15        2018-03-14
997          30.0        30       2018-02-02        2018-10-12
998          30.0        30       2018-12-19        2018-12-17
999          30.0        30       2018-02-24        2018-02-11

[1000 rows x 9 columns]>

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [23]:
df['appilcationDate']= pd.to_datetime(df['appilcationDate'])
df['repaymentDueDate']= pd.to_datetime(df['repaymentDueDate'])
df['repaymentPaidDate']= pd.to_datetime(df['repaymentPaidDate'])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [24]:
df.nunique()

customerID            985
loanId               1000
appilcationDate       254
LoanNumber             21
LoanAmount             86
InterestRate           17
TermDays                7
repaymentDueDate      302
repaymentPaidDate     263
dtype: int64

### Question 2

In [25]:
df['LoanAmount'] = df['LoanAmount'].astype(int)

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [26]:
# 2a avg loan amount
round(df['LoanAmount']. mean(),2)

13828.08

In [27]:
# 2b avg interest rate
round(df['InterestRate'].mean(),2)

23.06

In [28]:
# 2c avg term days 
round(df['TermDays'].mean(),2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [29]:
# number of loans more than 3 days late 	
df['dateDifference']= df['repaymentDueDate'] - df['repaymentPaidDate']
df['dfloan']= df['dateDifference'] > '3 days'
loan = df[(df['dfloan']== True)]
loan['dfloan'].count()

555

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [30]:
group= df.groupby('TermDays')
Tday= group['LoanAmount'].mean()[30]
Tday.round(2)

7941.96

---

In [31]:
Nday= group['LoanAmount'].std()[90]
Nday.round(2)

18050.14

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [32]:
# week of year and average number of late days
df['applicationWeek'] = df['appilcationDate'].dt.isocalendar().week
df.head(10)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,dfloan,applicationWeek
0,839247458,302953235622,2018-12-21,1,7500,30.0,30,2019-01-20,2019-01-16,4 days,True,51
1,217540860,302960101337,2018-12-23,1,7500,30.0,30,2019-01-22,2018-12-29,24 days,True,51
2,522238092,303016988846,2019-01-08,1,7500,30.0,30,2019-02-07,2019-01-08,30 days,True,2
3,096754469,302999605504,2019-01-04,1,7500,30.0,30,2019-02-03,2019-01-08,26 days,True,1
4,410354345,302951945878,2018-12-21,1,7500,30.0,30,2019-01-20,2019-01-17,3 days,False,51
5,027610141,302955854172,2018-12-22,6,45000,10.0,90,2019-03-21,2019-01-09,71 days,True,51
6,390748423,302941689535,2018-12-19,4,90000,5.0,180,2019-06-18,2019-01-15,154 days,True,51
7,642947351,302945727970,2018-12-19,3,45000,10.0,90,2019-03-19,2019-01-16,62 days,True,51
8,227382168,302953081988,2018-12-21,4,45000,10.0,90,2019-03-20,2019-01-16,63 days,True,51
9,380684555,302997991362,2019-01-03,4,30000,10.0,90,2019-04-02,2019-01-11,81 days,True,1

In [33]:
df.tail()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,dfloan,applicationWeek
995,964510149,302636726,2018-01-15,2,7500,30.0,30,2018-02-14,2018-01-20,25 days,True,3
996,251997198,302772445,2018-02-13,1,7500,30.0,30,2018-03-15,2018-03-14,1 days,False,7
997,899011279,302585439,2018-01-03,3,7500,30.0,30,2018-02-02,2018-10-12,-252 days,False,1
998,648637210,302788322114,2018-11-19,1,7500,30.0,30,2018-12-19,2018-12-17,2 days,False,47
999,464788691,302683579,2018-01-24,1,7500,30.0,30,2018-02-24,2018-02-11,13 days,True,4

In [42]:
df[df['applicationWeek']== 2].groupby('applicationWeek')['dateDifference'].mean()

applicationWeek
2   13 days 18:45:31.034482758
Name: dateDifference, dtype: timedelta64[ns]

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the iodeajo@gmail.com.